 body {
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }

  canvas{
    background-color: #fefefe;
  }