/*
    Código Fonte:
    Generative Art with Vanilla JavaScript
    by Franks laboratory
    https://youtu.be/0v4_Dw0K8pw?si=sdT5n-guPjNyL6Gr
*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1{
    position: absolute;
    background: linear-gradient(#a291d5, #c6b4ce);
    width: 100%;
    height: 100%;
}